*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion {
    margin: 10px;
    padding: 10px;
   
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background: aqua;
}

.accordion-header:hover{
    cursor: pointer;
}

.accordion-arrow {
    border: 10px solid transparent;
    border-top-color: black;
    width: 10px;
}

.accordion-panel{
    padding: 10px;
    display: none;
    background: #00ffff33;
}

.rotate{
    bottom: 5px;
    position: relative;
}