*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html{
    height: 100%;
}
body{
    height: inherit;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.cat_image{
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

section.container{
    position: relative;
}

section.container::before,section.container::after{
    --arrow-size: 10px;
  
}

section.container::before{
    content: attr(data-tooltip);
    --translateY: calc(-100% - (var(--arrow-size)));
    position: absolute;
    font-size: 20px;
    background: black;
    padding: 10px;
    color: white;
    left: 50%;
    top: 0;
    width: max-content;
    max-width: 100%;
    transform: translate(-50%, var(--translateY, 0) );
    border-radius: 0.3rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}

section.container:hover::before,section.container:hover::after{
   visibility:visible;
   opacity: 1;
   transition: visibility 0.4s, opacity 0.4s;
}

section.container::after{
    --translateY: calc(-1 * var(--arrow-size));
    content: '';
    position: absolute;
    left: 50%;
    visibility: hidden;
    top:0%;
    opacity: 0;
    border: var(--arrow-size) solid transparent;
    border-top-color:  black;
    transform: translate(-50%, var(--translateY, 0));
}