body {
    font-family: sans-serif;
    background: antiquewhite;
  }
  header {
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 0;
    color: white;
    font-size: bold;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-right: 10px;
  }

  .column2{
    flex:2;
    margin-top: 10px;
  }
  .column2 div{
    font-size: medium;
    margin-bottom: 10px;
  }
  
  .image {
   max-width: 120px;
   max-height: 120px;
   border-radius: 20px;
  }
  
  .spanlist{
    max-width: 10%;
    cursor: pointer;
  }

  .seemore{
    float:right;
    background: white;
    border: none;
    color: blue;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .close{
    cursor: pointer;
    /* background: #8080800a; */
    border: 0;
    border-radius: 50%;
    padding: 5px 10px;
    color: #2d2323;
    background: transparent;
    font-size: 15px;
    margin-top: 4px;
  }

  .close:hover{
    background: #f2dec4;
  }

  .connect{
    cursor: pointer;
    background: white;
    border: none;
    color: grey;
    border-radius: 10px;
    padding: 10px;
}